<div id='group_input'>
  <div class='content'>
    <h5>Choose the name for your group</h5>
    <%= form_tag(groups_path) do %>
      <div id ='create_groups_container' class = 'jumbotron'>
      <%= label_tag "Name:" %> <%= text_field_tag "group_name"%>
      <%= submit_tag "Submit", class: 'btn-primary btn' %>
      </div>
    <% end %>
    </div>
</div>