<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
            <li><a class="menu-opener" href="#">Menu</a></li>
            <li><%= link_to current_user.username, edit_user_registration_path %></li>
            <%= select_tag "groups_select", options_from_collection_for_select(current_user.groups, "id", "group_name") %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
