#menu {
    position: fixed;
    height: 500px;
    max-width: 80%;
    left: -100%;

    -webkit-transition-property: left;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: linear;

    transition-property: left;
    transition-duration: 0.3s;
    transition-timing-function: linear;
}

#menu.menu-open {
    left: 0%;
    z-index: 10;
    width: 40%;
}

.navbar select {
    background-color: #f8f8f8;
    margin-top: 1px;
    border-radius: 5px;
    height: 49px;
    position: relative;
    display: inherit;
    max-width: 130px;
}

a.menu-open:link, a.menu-open:focus, a.menu-open:hover, a.menu-open:active {
    background-color: #333333 !important;
    color: #777777 !important;
}

#menu ul {
    list-style-type: none;
    background-color: #f8f8f8;
}

#menu a:link, a:visited {
    color: #777777;
    padding-bottom: 15px;
    padding-top: 15px;
    line-height: 20px;
    display: block;
    position: relative;
    text-decoration: none;
}

#menu a:hover, a:active {
    color: #333333;
}